*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #0f172a;

    color: #f8f6f0;

    overflow-x: hidden;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}