/* ================= PAGE ================= */

.about-hero {

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background:
        radial-gradient(ellipse at top,
            #1a2235 0%,
            #0f172a 70%);

    padding: 80px 20px;
}

/* ================= CONTENT ================= */

.about-content {

    max-width: 1000px;
    width: 100%;

    background:
        linear-gradient(145deg,
            #1a2235,
            #141c2f);

    border-radius: 24px;

    padding: 50px;

    border: 1px solid rgba(255, 255, 255, 0.05);

    box-shadow:
        0 20px 50px rgba(0, 0, 0, 0.45);

    color: #cbd5e1;

    line-height: 1.9;
}

/* ================= TITLE ================= */

.about-content h1 {

    font-size: 3rem;

    margin-bottom: 25px;

    text-align: center;

    line-height: 1.6;

    background: linear-gradient(90deg,
            #f8f6f0,
            #c9b48a);

    background-clip: text;

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

/* ================= TEXT ================= */

.about-content p {

    color: #cbd5e1;

    font-size: 1.05rem;

    margin-bottom: 18px;

    text-align: center;
}

/* ================= SUBHEADINGS ================= */

.about-content h3 {

    margin-top: 35px;

    margin-bottom: 15px;

    font-size: 1.5rem;

    text-align: center;

    background: linear-gradient(90deg,
            #f8f6f0,
            #c9b48a);
    background-clip: text;

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

}

/* ================= LIST ================= */

.about-content ul {

    padding-left: 15px;

    margin-bottom: 20px;
}

.about-content li {

    margin-bottom: 12px;

    color: #cbd5e1;

    text-align: center;

    position: relative;
}

/* ================= HIGHLIGHT ================= */

.about-highlight {

    margin-top: 35px;

    padding: 20px;

    border-left: 4px solid #c9b48a;

    background: rgba(255, 255, 255, 0.03);

    border-radius: 20px;

    border-width: 6px;

    color: #f8f6f0;

    text-align: center;

    font-size: 1.05rem;
}



.about-footer-bottom p {

    color: #94a3b8;

    font-size: 0.9rem;

    letter-spacing: 0.3px
}


/* ================= RESPONSIVE ================= */

@media(max-width: 768px) {

    .about-content {

        padding: 40px 28px;
    }

    .about-content h1 {

        font-size: 2.8rem;
    }
}

@media(max-width: 550px) {

    .about-content {

        padding: 35px 22px;

        border-radius: 28px;
    }

    .about-content h1 {

        font-size: 2.2rem;
    }

    .about-content p {

        font-size: 1rem;
    }
}